@charset "UTF-8";
*,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body,
html,
#box {
  height: 100%;
  font-family: "KaiTi";
  font-size: 16px;
}

#box {
  position: relative;
  overflow: hidden;
  background: url("../img/93a8cab28ed0b050d4ee291b6f8fd72.jpg") no-repeat;
  background-size: cover;
}

.content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

#main {
  background-color: #f3a734;
  padding: 5px;
  font-size: 2.5rem;
  border-radius: 10px;
}

.dm {
  margin-bottom: 100px;
}
.dm input {
  margin: 0;
  height: 35px;
  width: 200px;
  outline: none;
  font-size: 1.1rem;
  font-weight: 700;
  vertical-align: bottom;
}
.dm .dm-send {
  cursor: pointer;
  margin-left: -8px;
  background-color: #f3a734;
  display: inline-block;
  line-height: 39px;
  height: 39px;
  width: 100px;
  border-radius: 0 5px 5px 0;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
}
.dm .dm-send:hover {
  background-color: yellow;
}

@media screen and (max-width: 1600px) {
  .content {
    width: 960px;
    margin-top: 20px;
  }

  #main {
    font-size: 2rem;
  }

  .dm {
    margin-bottom: 50px;
  }
  .dm .dm-send {
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
  }
  .dm input {
    height: 27px;
  }
}
@media screen and (max-width: 960px) {
  .content {
    width: 540px;
    margin-top: 20px;
  }

  #main {
    font-size: 2rem;
  }

  .dm {
    margin-bottom: 50px;
  }
  .dm .dm-send {
    width: 80px;
    height: 30px;
    line-height: 30px;
  }
  .dm input {
    height: 27px;
  }
}
.span {
  position: absolute;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.span:hover {
  text-shadow: 0 5px 5px white;
  font-weight: 700;
  font-size: 2rem;
}

.nav {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin-top: 20px;
}
.nav a {
  position: relative;
  z-index: 5;
  color: #154388;
  font-size: 1.5rem;
}
.nav a:hover {
  color: red;
}
.nav .page {
  position: absolute;
  opacity: 0;
  width: 300px;
  height: 500px;
  font-size: 1.2rem;
  line-height: 25px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.nav .page span {
  position: absolute;
  top: -26px;
  border-width: 13px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
}
.nav .page h3 {
  margin-bottom: 15px;
}
.nav .page p {
  margin-top: 15px;
}
.nav #page-1 {
  top: 40px;
  left: -120px;
}
.nav #page-1 span {
  right: 70px;
}
.nav #page-2 {
  top: 40px;
  right: -125px;
  background: url("../img/1111222.jpg") no-repeat;
  background-size: contain;
}
.nav #page-2 span {
  left: 70px;
  border-color: transparent transparent rgba(104, 59, 59, 0.979) transparent;
}
.nav .show {
  opacity: 1;
  transition: all 0.5s;
}

@keyframes gg {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -200px 0;
  }
  40% {
    background-position: 0 -300px;
  }
  60% {
    background-position: -200px -300px;
    filter: brightness(100%);
  }
  80% {
    background-position: center center;
    filter: brightness(1000%);
  }
  100% {
    background-position: center center;
    filter: brightness(100%);
  }
}
#advertisement {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/123213.jpg") no-repeat;
  background-position: center center;
  animation: gg 5s 3s infinite;
  z-index: 999;
  cursor: pointer;
}
#advertisement p {
  text-align: center;
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
}
#advertisement h3 {
  margin-top: 8px;
  text-indent: 50px;
}
#advertisement span {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.right-nav {
  font-family: "Microsoft YaHei";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  color: white;
  z-index: 6;
}
.right-nav h5 {
  position: absolute;
  top: 50px;
  right: 51px;
  width: 136px;
  height: 38px;
  line-height: 35px;
  border: 1px solid transparent;
  font-size: 1.1rem;
  background: url("../img/ico_01.png") no-repeat 30px 8px;
  text-indent: 70px;
  cursor: pointer;
  z-index: 10;
}
.right-nav h5:hover {
  border: 1px solid white;
}
.right-nav .nav-main {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transform: translateX(-240px);
  transition: all 1s;
}
.right-nav .nav-main ul {
  display: flex;
  font-size: 1.3rem;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
}
.right-nav .nav-main ul a {
  text-decoration: none;
  color: white;
  display: block;
  height: 66px;
}
.right-nav .nav-main span {
  position: absolute;
  top: 150px;
  left: 45px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: red;
  transition: all 0.3s;
}
.right-nav .show {
  transform: translateX(0px);
}

#friends {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: all 1.5s;
  z-index: 9999;
}
#friends .bg, #friends ul {
  height: 100%;
}
#friends li {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
#friends #bg-a {
  background: url("../img/法医.jpg") no-repeat;
  background-size: cover;
}
#friends #bg-b {
  background: url("../img/男爵.jpg") no-repeat;
  background-size: cover;
}
#friends #bg-c {
  background: url("../img/小号.jpg") no-repeat;
  background-size: cover;
}
#friends #bg-d {
  background: url("../img/铁头.jpg") no-repeat;
  background-size: cover;
}
#friends #bg-e {
  background: url("../img/yj.jpg") no-repeat;
  background-size: cover;
}
#friends #bg-f {
  background: url("../img/wl.jpg") no-repeat;
  background-size: cover;
}
#friends .bg-item {
  position: absolute;
  font-family: "微软雅黑";
  font-size: 2.5rem;
}
#friends .bgbg {
  opacity: 0;
}
#friends p {
  width: 60px;
  transform: translateY(0px);
  transition: all 1s;
  opacity: 0;
}
#friends button {
  padding: 8px 25px;
  margin-left: -20px;
  outline: none;
  color: #00f7ff;
  background-color: #f800c2;
  transform: translateY(0px);
  transition: all 1s 0.2s;
  opacity: 0;
  cursor: pointer;
}
#friends .sss {
  opacity: 1;
  z-index: 2;
}
#friends .sss p {
  width: 60px;
  transform: translateY(150px);
  opacity: 1;
}
#friends .sss button {
  padding: 8px 25px;
  transform: translateY(180px);
  opacity: 1;
}
#friends #bg-a1 {
  right: 400px;
}
#friends #bg-a2 {
  left: 300px;
}
#friends #bg-a2 p {
  color: yellow;
}
#friends #bg-a3 {
  left: 300px;
}
#friends #bg-a3 p {
  color: #49e02a;
}
#friends #bg-a4 {
  left: 500px;
}
#friends #bg-a4 p {
  color: #fd0202;
}
#friends #bg-a5 {
  right: 350px;
}
#friends #bg-a5 p {
  color: black;
}
#friends #bg-a6 {
  left: 150px;
}
#friends #bg-a6 p {
  color: #0f87f7;
}

/*# sourceMappingURL=style.css.map */
